@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<body>
  <form method="post">
    <fieldset>
      <legend>Connexion</legend>
      <div>
         <label for="pseudo">Identifiant:</label>
         <input type="text" name="pseudo" value="" />
         @Html.ValidationMessage("pseudo")
      </div>
      <div>
         <label for="password">Mot de passe:</label>
         <input type="text" name="password" value="" />
         @Html.ValidationMessage("password")
      </div>
      <div>
         <input type="submit" value="Se connecter" class="btn-primary" />
      </div>
    </fieldset>
  </form>
</body>

