@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenu</h1>
        <p> faire la page de login ici peut être</p>
        <a class="btn btn-primary btn-lg" onclick="test()" role="button">Stateful button</a>

        <script>
            function test() {
                console.log("test");
            }
        </script>


    </div>


