@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Pages/Shared/_LayoutAccueil.cshtml";
}
<h1>@ViewData["Title"]</h1>
<p>This page is under Construction as of @ViewData["TimeStamp"].</p>
