@page
@model VidéoThèque.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Ajouter un film";
}

<h1>Ajouter un film</h1>

<h4>Informations importantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <!-- Vérification des données rentrées à l'aide du asp-validation-for -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!-- légende de l'étiquette -->
                <label asp-for="Movie.Title" class="control-label"></label>

                <!-- L'input -->
                <input asp-for="Movie.Title" class="form-control" />

                <!-- Vérification des données rentrées à l'aide du asp-validation-for -->
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Price" class="control-label"></label>
                <input asp-for="Movie.Price" class="form-control" />
                <span asp-validation-for="Movie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Realisateur" class="control-label"></label>
                <input asp-for="Movie.Realisateur" class="form-control" />
                <span asp-validation-for="Movie.Realisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Acteurs" class="control-label"></label>
                <input asp-for="Movie.Acteurs" class="form-control" />
                <span asp-validation-for="Movie.Acteurs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Synopsis" class="control-label"></label>
                <input asp-for="Movie.Synopsis" class="form-control" />
                <span asp-validation-for="Movie.Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retourner à l'index</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
