@page
@model VidéoThèque.Pages.Movies.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Modifier les informations</h1>

<hr />
@{
    var imagePath = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <!-- La valeur de imagePath ne se remet pas à jour directement, il faudrait ajouter une fonction js au submit?-->
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend> Upload Image </legend>
            <label for="Image">Image</label>
            <input type="file" name="Image" />
        </fieldset>
    </form>
    <h1>Uploaded Image</h1>

    <div class="result">
        <label text="Test" />
        <img src="~/img/" +@imagePath.+"PNG" alt="@imagePath" />

    </div>
</body>
</html>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.ID" />
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.Image" class="control-label"></label>
                <input asp-for="Movie.Image" class="form-control" />
                <span asp-validation-for="Movie.Image" class="text-danger"></span>
                <img src="@Url.Content("~/img/"+Model.Movie.Image+".PNG")" height="250px" width="200px" alt="Image" />
            </div>



            <div class="form-group">
                <label asp-for="Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Price" class="control-label"></label>
                <input asp-for="Movie.Price" class="form-control" />
                <span asp-validation-for="Movie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Realisateur" class="control-label"></label>
                <input asp-for="Movie.Realisateur" class="form-control" />
                <span asp-validation-for="Movie.Realisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Acteurs" class="control-label"></label>
                <input asp-for="Movie.Acteurs" class="form-control" />
                <span asp-validation-for="Movie.Acteurs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Synopsis" class="control-label"></label>
                <input asp-for="Movie.Synopsis" class="form-control" />
                <span asp-validation-for="Movie.Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder les changements" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retourner à l'index</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
