@page
@model VidéoThèque.Pages.Movies.ValidationCommandeModel
@{
    ViewData["Title"] = "Validation Commande";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validation de votre commande</title>
</head>
<body>
    <h1>Merci de votre commande</h1>
    <br />
    <br/>
    <h2>Celle-ci a bien été prise en compte</h2>
    <br />
    <br/>
    <div>
        <a asp-page="../MovieDisplay">Retourner à la liste des films disponibles</a>
    </div>
</body>
</html>
